**Python Basics Assignment**

Ques 1) Explain the key features of Python that make it a popular choice for programming.

Ans)  Some of the key features of Python that makes it a popular choice of programming are as follows:

1.Easy to learn and use                                        
Python has a simple, readable syntax which makes it easy for beginners to learn. It has a clean and intuitive code structure.

2.Versatility                             
Python can be used for a wide range of applications from web development and data science to machine learning, automation and more.

3.Simplicity                
Its simplicity allows data scientists and engineers to focus on solving complex problems.

4.Flexibility                                                        Python allows functions to be treated as first class objects or one can write a code that follows a sequence of instructions.

5.Readability

Python enforces readability through indentation making it easier to read and maintain.

6.Additional features

Python also has a large community with numerous libraries and frameworks which helps in solving doubts.

Ques 2) Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

Ans) Predefined keywords are special words that hold a special meaning and have a special purpose in Python programming.They serve to structure the programs and control its flow.

1.Keywords like if,else,elif,for and while allows conditional execution or loops.

In [ ]:
#if,else,elif
a=10
if a>100:
  print("Execute")
elif a<100:
  print("Not Execute")
else:
  print("Equals")

Not Execute

In [ ]:
#for
for p in "programming":
  print(p)

p
r
o
g
r
a
m
m
i
n
g

In [ ]:
#while
n=5
i=1
while i<n:
  print(i)
  i=i+1

1
2
3
4

2.True,False,and,or,not are used to handle boolean values and logical operations.

In [ ]:
True and True

True

In [ ]:
True or True

True

In [ ]:
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
not True

False

3.Break is used to exit a loop when a certain condition is met.

In [ ]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

4.Continue is used to skip the current iteration of the loop and move to the next iteration.

In [ ]:
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

5.Import is used to bring in modules into the current program.

In [ ]:
import math
print(math.sqrt(16))

4.0

6.None keyword repesents the absence of a value or a null value.

In [ ]:
x=None
print(x)

None

7.Def keyword defines a function and Return is used to return variables.

In [ ]:
def add_numbers(a,b):
  return a+b

In [ ]:
result=add_numbers(5,3)
print(result)

8

Ques 3)Compare and contrast mutable and immutable objects in Python with examples.

In Python, the value of mutable objects can be changed after they are created. It means that the elements or attributes of the object can be modified without creating a new object.

In [ ]:
#Lists
list=[1,2,3]
list[0]=10 #modifying the first element
print(list)

[10, 2, 3]

In [ ]:
#Dictionaries
dict={'a':1,'b':2}
dict['a']=10 #modifying the value of a
print(dict)

{'a': 10, 'b': 2}

In [ ]:
#Sets
set={1,2,3}
set.add(4) #adding an element to the set
set

{1, 2, 3, 4}

Immutable objects cannot be changed after they are created.

In [ ]:
#Strings
string="hello"
string[0]="h" #it will give an error

TypeError: 'str' object does not support item assignment

In [ ]:
Similarly,
#Integers,Tuples,Floats,Booleans will also give an error
tuple=(1,2,3)
tuple[10]=10

NameError: name 'Similarly' is not defined

Ques 4)Discuss the different types of operators in Python and provide examples of how they are used.

Ans)Operators are special symbols used to perform operations on values and variables.

In [ ]:
#Arithmetic Operators>>Arithmetic operators perform basic mathematical operations like addition, subtraction, multiplication, division,floor division,modulus,exponentiation

5+3

8

In [ ]:
5-2

3

In [ ]:
5/2

2.5

In [ ]:
5*2

10

In [ ]:
5//2

2

In [ ]:
5%2

1

In [ ]:
2**5

32

In [ ]:
#Comparison Operators>>It compares 2 values and returns a boolean value
x = 10
y = 20

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= 10)
print(y <= 15)

False
True
False
True
True
False

In [ ]:
#Logical Operators>>Logical operators are used to combine conditional statements and return a Boolean result
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
#Assignment Operators>>Assignment operators are used to assign values to variables.
x = 10
x += 5
print(x)

15

In [ ]:
#Identity Operators>>Identity operators are used to compare the memory locations of two objects.
a=2
b=3
a is b

False

In [ ]:
a is not b

True

In [ ]:
#Membership Operators>>Membership operators are used to test whether a value is a member of a sequence.
a="programming"
"y" in a

False

In [ ]:
"p" in a

True

In [ ]:
#Bitwise Operators>>Bitwise operators work on the binary representation of numbers.
a = 5  # Binary: 0101
b = 3  # Binary: 0011

print(a & b)  # (Bitwise AND: 0101 & 0011 = 0001)
print(a | b)  # (Bitwise OR: 0101 | 0011 = 0111)
print(a ^ b)  # (Bitwise XOR: 0101 ^ 0011 = 0110)
print(~a)     # (Bitwise NOT: ~0101 = -0110)
print(a << 1) # (Left Shift: 0101 << 1 = 1010)
print(a >> 1) # (Right Shift: 0101 >> 1 = 0010)

1
7
6
-6
10
2

Ques 5)Explain the concept of type casting in Python with examples.

Ans)Type casting in Python refers to the process of converting one data type into another.

In [ ]:
#Implicit Typecasting>>Python automatically converts one data type to another without explicit instruction from the use
a = 5
b= 4.2

result = a + b
print(result)
print(type(result))

9.2
<class 'float'>

In [ ]:
#Explicit Typecasting>>The user converts data from one type to another using Python’s built-in functions.

num = 100
str_num = str(num)
print(str_num)
print(type(str_num))

100
<class 'str'>

In [ ]:
my_string = "Hello"
my_list = list(my_string)
print(my_list)

['H', 'e', 'l', 'l', 'o']

In [ ]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

In [ ]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

In [ ]:
num = 100
str_num = str(num)
print(str_num)
print(type(str_num))

100
<class 'str'>

Ques 6) How do conditional statements work in Python? Illustrate with examples.

Ans)Conditional statements helps to code decisions based on some pre-conditions.

In [ ]:
#if>>It checks whether a condition is true, and if it is, the indented block of code is executed.

a=100
if a>0:
   print("The number is greater than 0")
if a<0:
   print("The number is smaller than 0")

The number is greater than 0

In [ ]:
#if-else>>The if-else statement provides an alternative action if the condition in the if statement is false. If the condition is not true, the code under the else block is executed.

age=18
if age>=18:
 print("You can vote.")
else:
 print("You cannot vote.")

You can vote.

In [ ]:
#if-elif-else>>The if-elif-else statement allows you to check multiple conditions sequentially. If the first if condition is false, Python checks the next elif (else if) condition, and so on. If none of the conditions is true, the else block is executed.

num = 7

if num > 10:
    print("The number is greater than 10.")
elif num == 7:
    print("The number is equal to 7.")
else:
    print("The number is less than 7.")

The number is equal to 7.

In [ ]:
#nested if-else

num = 12

if num > 0:
    print("The number is positive.")
    if num % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is not positive.")

The number is positive.
The number is even.

In [ ]:

#input
a=int(input("Enter a number"))
if a>=100:
  print("Greater")
elif 0<=a<100:
  print("Lesser")
else:
  print("Negative")

Enter a number10
Lesser

Ques 7)Describe the different types of loops in Python and their use cases with examples.

In [ ]:
#while loop>>repeatedly executes a block of code until a condition is met.
#Use case: You would use a while loop when you want the loop to continue until a condition is no longer true, such as counting until a certain number or waiting for a user input.
n=10
i=1
while i<n:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9

In [ ]:
#break and continue
#Use case: Use break when you want to exit the loop early, and continue when you want certain iterations without exiting the loop entirely.

n=5
i=1
while i<n:
  print(i)
  i=i+1
  if i==4:
    break
else:
  print("Execute")

1
2
3

In [ ]:
n=7
i=1
while i<n:
  i=i+1
  if i==3:
     continue
  print(i)

2
4
5
6
7

In [ ]:
#for loop>>iterate over a sequence of elements.
#Use case: You would use a for loop when you want to perform an action for every element in an iterable, such as a list or range.

fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
#break
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
#continue
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
list(range(0, 15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
for i in range (0, 15) :
     print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14